<!-- Header -->
<header id="header">
	<a class="logo" href="#">G8</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Nav -->
<nav id="menu">
	<ul class="links">
	<li><a href="/">Home</a></li>
	<li><a href="/categorias">Serviços</a></li>
	<li><a href="#">Gestão de Talentos</a></li>
        <li><a href="#">Gestão de Projetos</a></li>
        <li><a href="#">Cipa</a></li>
        <li><a href="#">Sobre</a></li>
	</ul>
</nav>
