<!DOCTYPE html>
<html lang="en">
<head>
    <title>G8 Treinamentos - Consultoria, Assessoria e Treinamento</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body class="is-preload">
    {{>_header}}
	{{>_msg}}
    {{{body}}}
    {{>_footer}}
</body>
    <script src="/js/jquery.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
</html>